body{
    background: #e9ebee;
    color: #1d2129;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
#headbar{
    height: 42px;
    width: 100%;
    background-color: #3b5998;
    border-bottom: 1px solid #3b5998;
    color: #fff;
    font-size: 12px;
}
#headbarContent{
    padding: 0;
    width: 1012px;
    margin:0 auto;
}
.menu_top{
    display: inline-block;
    vertical-align: middle;
}
.menu_dyn{
    display: inline-block;
    width: 140px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    color:#fff;
}
#avatar{
    height: 26px;
    vertical-align: bottom;
}

