body{
    background: #fff;
    color: #1d2129;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
#headbar{
    height: 82px;
    min-width: 980px;
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
}
#menubar{
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}
#menubar h1{
    margin: 10px 0px 0px;
    width: 171px;
    float:left;
}
#menubar #login_form{
    float:right;
}
#menubar #login_form label{
    color: #fff;
    font-size: 12px;
}
#menubar #login_form input{
    /*border-color: #1d2a5b;*/
    margin: 0;
    width: 142px;
    border: 1px solid #1d2a5b;
    padding: 3px;
}
#menubar #login_form td{
    padding: 0 0 0 14px;
}
#forgot_account_link{
    color: #9cb4d8;
    text-decoration: none;
    font-size: 12px;
}
#globalContainer {
    margin: 0 auto;
    position: relative;
    height: 620px;
    background: url('gradient.png') 0 bottom repeat-x;
}
#content{
    margin: 0 auto;
    width: 980px;
}
#block_left{
    width:580px;
    float:left;
}
#block_left #txt_left{
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
#block_right{
    width:400px;
    float:right;
}
#block_right #txt_right{
    padding-top: 20px;
    padding-bottom: 20px;
}
#block_right #txt_right #msg_inscription{
    font-size: 36px;
    color: #333;
    font-weight: bold;
}
#block_right #txt_right #msg_ssinscription{
    color: #1d2129;
    font-size: 19px;
}
#pageFooter{
    color: #737373;
    margin: 0 auto;
    width: 980px;

}
input[type=submit]{
    cursor: pointer;
}
